In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('creditcard.csv')

In [4]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
data.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
legit=data[data['Class']==0]

In [12]:
fraud=data[data['Class']==1]

In [13]:
legit.shape

(284315, 31)

In [14]:
fraud.shape

(492, 31)

In [15]:
new_legit=legit.sample(n=492)

In [16]:
new_data=pd.concat([new_legit,fraud])

In [17]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
50343,44455.0,-0.732525,-0.274978,1.475564,-2.080273,-1.426452,-0.340790,-1.176386,-2.610744,1.355181,...,-1.105344,0.582108,-0.449497,0.435322,1.400337,0.084805,-0.023138,0.192911,162.00,0
98160,66544.0,1.249642,0.164220,0.174174,0.352906,-0.050503,-0.486894,0.146876,-0.211648,-0.034599,...,-0.373530,-1.127350,0.055306,-0.441586,0.237556,0.147099,-0.037298,0.019732,39.00,0
160174,113150.0,2.017699,-0.418599,-2.562017,-0.715467,2.371590,3.324169,-0.456447,0.787120,0.401360,...,-0.283002,-0.843827,0.366668,0.699057,-0.271077,0.217451,-0.055362,-0.063963,17.99,0
221127,142447.0,-0.842722,1.421429,-1.441241,-0.689501,0.421293,-0.486145,-0.048259,1.034455,-0.138488,...,-0.288008,-1.005663,0.128629,0.040012,-0.364355,0.136981,0.081468,-0.028713,1.98,0
238264,149597.0,0.036584,0.810375,0.247822,-0.602436,0.416037,-1.009417,0.967613,-0.146868,0.040991,...,-0.264280,-0.605736,0.079598,-0.105985,-0.512549,0.149549,0.245889,0.095120,5.49,0

In [19]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
import sklearn

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [22]:
model=LogisticRegression()

In [24]:
X=data.drop(columns='Class')
Y=data['Class']

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=2,test_size=0.2)

In [26]:
model.fit(X_train,Y_train)

C:\Users\c surya vamsi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
predict=model.predict(X_train)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
score=accuracy_score(Y_train,predict)

In [30]:
score

0.9988676512541421